.car-height {
    height: 400px;
}
.bgmain {
    background: url("../img/bmwM5bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.loggedUser {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 450px;
    height: 20px;
}
#bold {
    font-style: oblique;
    color: #ff253a;
}