<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light">
    <div th:insert="fragments :: mainNavbar"></div>
</nav>
<div th:insert="fragments :: loggedUser"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>BMW Group catalogue</h2>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Engine</th>
                    <th>HorsePower</th>
                    <th>Base Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="car: ${allCars}">
                    <td th:text="${car.make}"></td>
                    <td th:text="${car.model}"></td>
                    <td th:text="${car.engine}"></td>
                    <td th:text="${car.horsePower}"></td>
                    <td th:text="${car.basePrice + ' PLN'}"></td>
                    <td>
                        <form action="#" th:action="@{'/deleteCarAction/{id}'(id=${car.id})}" th:method="delete">
                            <button class="btn btn-outline-danger" type="submit"
                                    style='font-size:18px'><i class='far fa-trash-alt'></i></button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-4">
            <h2>Add new car</h2>
            <br>
            <br>
            <form action="#" th:action="@{/addCarAction}" th:object="${newCar}" th:method="post">
                <div class="form-group">

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Make</span>
                        </div>
                        <input type="text" th:field="${newCar.make}" class="form-control" aria-label="small" required>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Model</span>
                        </div>
                        <input type="text" th:field="${newCar.model}" class="form-control" aria-label="small" required>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Engine</span>
                        </div>
                        <input type="text" th:field="${newCar.engine}" class="form-control" aria-label="small" required>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">HorsePower</span>
                        </div>
                        <input type="text" th:field="${newCar.horsePower}" class="form-control" aria-label="small" required>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Base Price (PLN)</span>
                        </div>
                        <input type="number" th:field="${newCar.basePrice}" class="form-control" aria-label="small" required>
                    </div>

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Confirm <i class="far fa-file-alt"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>