<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Auction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light">
    <div th:insert="fragments :: mainNavbar"></div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 th:each="auction: ${getAuction}">
                <div th:each="car : ${auction.car}">
                    <span th:text="${car.make + ' ' + car.model}"></span>
                </div>
            </h2>

            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Car Details</th>
                    <th>Price (PLN)</th>
                    <th>Production Year</th>
                    <th>Configuration</th>
                    <th>Milleage</th>
                </tr>

                </thead>
                <tbody>
                <tr th:each="auction: ${getAuction}" style="border: 1px black">
                    <td></td>
                    <td>
                        <div th:each="car : ${auction.car}">
                            <span th:text="${car.make}"></span>
                            <span th:text="${car.model}"></span>
                            <span th:text="${car.engine}"></span>
                            <span th:text="${car.horsePower + ' hp'}"></span>
                        </div>
                    </td>
                    <td th:text="${auction.price}"></td>
                    <td th:text="${auction.productionYear}"></td>
                    <td>
                        <div th:each="config : ${auction.configurations}">
                            <span th:text="${config.addon}"></span>
                        </div>
                    </td>
                    <td th:text="${auction.milleageKm + ' KM'}"></td>

                </tr>

                </tbody>

            </table>

            <p th:each="auction: ${getAuction}">
                <span th:text="${auction.description}"></span>
            </p>

            <div th:each="auction : ${getAuction}">
                <form action="#" th:action="@{'/bidAuction/{id}'(id=${auction.id})}" th:object="${newBid}"
                      method="post">

                    <div class="col-md-4">
                        <div class="input-group input-group-md mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Outbid by</span>
                            </div>
                            <input type="number" class="form-control" th:field="${newBid.amount}"
                                   th:value="${newBid.amount}" required aria-label="small"
                                   aria-describedby="inputGroup-sizing-sm">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Place Bid</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <table class="table table-dark">
                <thead>
                <tr>
                    <th>Bid Price</th>
                    <th>Bidder</th>
                </tr>
                </thead>
                <tbody>


                <div th:each="auction: ${getAuction}">
                    <tr th:each="bid : ${auction.biddingList}">

                        <td th:text="${bid.amount} + ' PLN'"></td>

                        <div th:each="user : ${bid.user}">
                            <td th:text="${user.email}"></td>
                        </div>

                    </tr>
                </div>

                </tbody>
            </table>



        </div>
    </div>
</div>
</body>
</html>