<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Auction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <style>
        .bold {
            font-weight: bold;
            text-align: right;
        }
    </style>

</head>
<body>
<div style="position: absolute;
    top: 10px;
    right: 20px;
    width: 450px;
    height: 20px;" th:insert="fragments :: loggedUser"></div>

<nav class="navbar navbar-expand-sm navbar-light">
    <div th:insert="fragments :: mainNavbar"></div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 th:each="auction: ${getAuction}">
                <div th:each="car : ${auction.car}">
                    <span th:text="${car.make + ' ' + car.model}"></span>
                </div>
            </h2>
        </div>
        <div class="col-md-8">
            <div th:each="auction: ${getAuction}">

                <img width="100%" alt="car" th:src="*{'data:image/png;base64,'+image}"/>
                <hr>
                <div th:each="car : ${auction.car}">
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="font-weight: bold">Description:</div>
                            <span th:text="${auction.description}"></span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6 bold">Car:</div>
                        <div class="col-lg-6">
                            <span th:text="${car.make + ' ' + car.model}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 bold">Engine Size:</div>
                        <div class="col-lg-6">
                            <span th:text="${car.engine}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 bold">Horse Power:</div>
                        <div class="col-lg-6">
                            <span th:text="${car.horsePower}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 bold">Milleage (kilometers):</div>
                        <div class="col-lg-6">
                            <span th:text="${auction.milleageKm}"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 bold">Production Year:</div>
                        <div class="col-lg-6">
                            <span th:text="${auction.productionYear}"></span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-6 bold">Configuration:</div>
                    <div class="col-lg-6">
                        <div th:each="config: ${auction.configurations}">
                            <span th:text="${config.addon}"/>
                        </div>
                    </div>
                </div>

            </div>
            <hr>

        </div>
        <div class="col-md-4">

            <div th:text="${message}"></div>


            <div class="row">
                <div class="col-lg-12">
                    <div th:each="auction: ${getAuction}">
                        <div th:each="bid, iStat : ${auction.biddingList}">
                            <h1 th:if="${iStat.last}">
                                <span class="badge badge-success" th:text="${bid.amount + ' PLN'}"></span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div th:each="auction : ${getAuction}">
                    <form action="#" th:action="@{'/bidAuction/{id}'(id=${auction.id})}" th:object="${newBid}"
                          method="post">

                        <div class="col-md-12">
                            <div class="input-group input-group-md mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Outbid by</span>
                                </div>
                                <input type="number" class="form-control" th:field="${newBid.amount}"
                                       th:value="${newBid.amount}" required aria-label="small"
                                       aria-describedby="inputGroup-sizing-sm"
                                       min="500"
                                       max="10000"
                                       step="500"
                                       title="Must be a multiple of 500">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="submit">Place Bid</button>
                                </div>
                            </div>


                        </div>

                    </form>
                </div>
            </div>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Bid Price</th>
                    <th>Bidder</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>


                <div th:each="auction: ${getAuction}">
                    <tr th:each="bid, iStat : ${auction.biddingList}"
                        th:class="${iStat.last}? 'table-active'"
                        th:style="${iStat.last}? 'font-weight:bold;'">

                        <td th:unless="${iStat.first}" th:text="${bid.amount} + ' PLN'"></td>


                        <div th:each="user : ${bid.user}">
                            <td th:text="${user.email}"></td>
                        </div>
                        <td th:unless="${iStat.first}" th:if="${iStat.last}">
                            <span class="badge badge-success">Highest Bid</span>
                        </td>

                    </tr>
                </div>

                </tbody>
            </table>


        </div>
    </div>
</div>
</body>
</html>