<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>
<body>
<div class="row" style="margin-top: 200px">
    <div class="col-lg-5 text-right">
        <div style="margin-top: 50px"></div>
        <span><i class="fas fa-user-plus fa-4x"></i></span>
    </div>
    <div class="col-lg-2 text-center">

        <div class="alert alert-success" th:if="${message}" th:text="${message}"></div>

        <form th:action="@{/signup}" th:object="${newUser}" th:method="post">
            <h1 class="h3 mb-3 font-weight-normal">Register new account</h1>
            <div th:if="${param.error}">
                Invalid email and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email</span>
                </div>
<!--                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Username" required="" />-->
                <input type="email" th:unless="${#fields.hasErrors('email')}" required class="form-control" th:field="${newUser.email}">
                <input type="email" th:if="${#fields.hasErrors('email')}" required class="form-control is-invalid" th:field="${newUser.email}">


                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="${newUser.email}">
                </div>


                <!--<div class="input-group-append">
                    <span class="input-group-text" th:if="${#fields.hasErrors('email')}" th:errors="${newUser.email}">
                    </span>
                </div>-->
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Password</span>
                </div>
<!--                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="" />-->
                <input type="password" required pattern=".{4,}" title="Four or more characters" class="form-control" th:field="${newUser.password}">

            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">First Name</span>
                </div>
                <input type="text" required class="form-control" th:field="${newUser.firstName}">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Last Name</span>
                </div>
<!--                <input type="text" name="lastName" id="inputLastName" class="form-control" placeholder="Last name" required="" />-->
                <input type="text" required class="form-control" th:field="${newUser.lastName}">
            </div>
            <input type="submit" value="Register" class="btn btn-primary btn-block"></input>
        </form>
        <br>
        <form th:action="@{/login}" method="get">
            <button class="btn btn-outline-secondary" type="Submit">Sign In</button>
        </form>

    </div>
    <div class="col-lg-5"></div>
</div>
</body>
</html>